[submodule "ExoPlayer"]
	path = ExoPlayer
	url = git@github.com:AdrianAndroid/ExoPlayer.git
[submodule "MMKV"]
	path = MMKV
	url = git@github.com:AdrianAndroid/MMKV.git
[submodule "wlmusic"]
	path = wlmusic
	url = git@gitee.com:WhatINeed/wlmusic.git
